<div class="body d-flex py-lg-3 py-md-2"  id="htmlData">
    <div class="container-xxl">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card border-0 mb-4 no-bg">
                    <div class="card-header py-3 px-0 d-flex align-items-center  justify-content-between border-bottom">
                        <h3 class=" fw-bold flex-fill mb-0">Detail Competition</h3>
                    </div>
                </div>
            </div>
        </div><!-- Row End -->
        <div class="row g-3">
            <div class="col-xl-8 col-lg-12 col-md-12">
                <div class="card teacher-card  mb-3">
                    <div class="card-body d-flex teacher-fulldeatil">
                        <div class="profile-teacher pe-xl-4 pe-md-2 pe-sm-4 pe-4 text-center w220">
                            <!-- <a href="#">
                                <img src="http://localhost:8080/api/auth/files/{{competition?.equipeFederation.user.image}}"
                                    alt="" class="avatar xl rounded-circle img-thumbnail shadow-sm">
                            </a> -->
                            <div class="about-info d-flex align-items-center mt-3 justify-content-center flex-column">
                                <!-- <h6 class="mb-0 fw-bold d-block fs-6">L'organisateur de compétition est :
                                    {{competition?.equipeFederation.user.username}} {{competition?.equipeFederation.user.nom}}
                                </h6> -->
                                <span class="text-muted small"></span>
                            </div>
                        </div>
                        <div class="teacher-info border-start ps-xl-4 ps-md-4 ps-sm-4 ps-4 w-100">
                            <h6 class="mb-0 mt-2  fw-bold d-block fs-6">{{competition?.nomcompetition}}</h6>
                            <span class="py-1 fw-bold small-11 mb-0 mt-1 text-muted"> code de compétition est :
                                {{competition?.code}}</span>

                            <div class="row g-2 pt-2">
                                <div class="col-xl-5">
                                    <div class="d-flex align-items-center">
                                        <i class="icofont-ui-touch-phone"></i>
                                        <span class="ms-2 small">Lieu de Compétition est : {{competition?.lieu}} avec un
                                            distance {{competition?.distance}}</span>
                                    </div>
                                </div>
                                <div class="col-xl-5">
                                    <div class="d-flex align-items-center">
                                        <i class="icofont-email"></i>
                                        <span class="ms-2 small"> date et heure :
                                         {{competition?.date}}   {{competition?.heure}} </span>
                                    </div>
                                </div>
                                <div class="col-xl-5">
                                    <div class="d-flex align-items-center">
                                        <i class="icofont-birthday-cake"></i>
                                        <span class="ms-2 small">selon categorie vélo est :
                                            {{competition?.categorieVelo.type}}</span>
                                    </div>
                                </div>
                                <!-- <div class="col-xl-5">
                                    <div class="d-flex align-items-center">
                                        <i class="icofont-address-book"></i>
                                        <span class="ms-2 small">le genre est : {{competition?.genre}}</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <h6 class="fw-bold  py-3 mb-3"> Les Coureur a participer </h6>

                <div class="row g-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header py-3 d-flex justify-content-between align-items-center">
                                <div class="info-header">
                                    <h6 class="mb-0 fw-bold ">Liste Coureur</h6>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="myProjectTable_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="dataTables_length" id="myProjectTable_length"><label>Show
                                                    <select name="myProjectTable_length" aria-controls="myProjectTable"
                                                        class="form-select form-select-sm">
                                                        <option value="10">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select> entries</label></div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div id="myProjectTable_filter" class="dataTables_filter">
                                                <label>Search:<input type="search" class="form-control form-control-sm"
                                                        placeholder="" aria-controls="myProjectTable"  [(ngModel)]="search_name"></label></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="myProjectTable"
                                                class="table table-hover align-middle mb-0 nowrap dataTable no-footer dtr-inline"
                                                style="width: 100%;" role="grid" aria-describedby="myProjectTable_info">
                                                <thead>
                                                    <tr role="row"  >
                                                        <th class="sorting_asc" tabindex="0"
                                                            aria-controls="myProjectTable" rowspan="1" colspan="1"
                                                            style="width: 39.2px;" aria-sort="ascending"
                                                            aria-label="NO: activate to sort column descending">NumLicence</th>
                                                        <th class="sorting" tabindex="0" aria-controls="myProjectTable"
                                                            rowspan="1" colspan="1" style="width: 114.2px;"
                                                            aria-label="Project: activate to sort column ascending">
                                                            Nom</th>
                                                        <th class="sorting" tabindex="0" aria-controls="myProjectTable"
                                                            rowspan="1" colspan="1" style="width: 81.2px;"
                                                            aria-label="Date Start: activate to sort column ascending">
                                                            Prenom</th>
                                                            <th class="sorting" tabindex="0" aria-controls="myProjectTable"
                                                            rowspan="1" colspan="1" style="width: 81.2px;"
                                                            aria-label="Date Start: activate to sort column ascending">
                                                            Categorie Coureur</th>
                                                            <th class="sorting" tabindex="0" aria-controls="myProjectTable"
                                                            rowspan="1" colspan="1" style="width: 81.2px;"
                                                            aria-label="Date Start: activate to sort column ascending">
                                                            Dossards</th>
                                                        <th class="dt-body-right sorting" tabindex="0"
                                                            aria-controls="myProjectTable" rowspan="1" colspan="1"
                                                            style="width: 69.2px;"
                                                            aria-label="Date End: activate to sort column ascending">
                                                           Nom de l'equipe</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>




                                                    <tr role="row" class="odd" *ngFor="let p of listcoureur |rechercoureur:search_name ">
                                                        <td tabindex="0" class="sorting_1"><a 
                                                               >{{p?. numlicence}}</a></td>
                                                        <td><a >{{p?.nom}}</a></td>
                                                        <td>{{p?.prenom}}</td>
                                                        <td class=" dt-body-right">{{p?.categorycoureur}}</td>
                                                        <td class=" dt-body-right">{{p?.dossards}}</td>
                                                        
                                                        <td class=" dt-body-right"><span
                                                                class="badge bg-warning">{{p?.equipeFederation.nom }}</span></td>
                                                    </tr>
                                                  
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-5">
                                            <div class="dataTables_info" id="myProjectTable_info" role="status"
                                                aria-live="polite">Showing 1 to 4 of 4 entries</div>
                                        </div>
                                        <div class="col-sm-12 col-md-7">
                                            <div class="dataTables_paginate paging_simple_numbers"
                                                id="myProjectTable_paginate">
                                                <ul class="pagination">
                                                    <li class="paginate_button page-item previous disabled"
                                                        id="myProjectTable_previous"><a href="#"
                                                            aria-controls="myProjectTable" data-dt-idx="0" tabindex="0"
                                                            class="page-link">Previous</a></li>
                                                    <li class="paginate_button page-item active"><a href="#"
                                                            aria-controls="myProjectTable" data-dt-idx="1" tabindex="0"
                                                            class="page-link">1</a></li>
                                                    <li class="paginate_button page-item next disabled"
                                                        id="myProjectTable_next"><a href="#"
                                                            aria-controls="myProjectTable" data-dt-idx="2" tabindex="0"
                                                            class="page-link">Next</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Row End -->
                <h6 class="fw-bold  py-3 mb-3">Arbitre a participer </h6>

                <div class="row g-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header py-3 d-flex justify-content-between align-items-center">
                                <div class="info-header">
                                    <h6 class="mb-0 fw-bold ">Liste Arbitre</h6>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="myProjectTable_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="dataTables_length" id="myProjectTable_length"><label>Show
                                                    <select name="myProjectTable_length" aria-controls="myProjectTable"
                                                        class="form-select form-select-sm">
                                                        <option value="10">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select> entries</label></div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div id="myProjectTable_filter" class="dataTables_filter">
                                                <label>Recherche:<input type="search" class="form-control form-control-sm"
                                                        placeholder="" aria-controls="myProjectTable"  [(ngModel)]="search_namee"></label></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="myProjectTable"
                                                class="table table-hover align-middle mb-0 nowrap dataTable no-footer dtr-inline"
                                                style="width: 100%;" role="grid" aria-describedby="myProjectTable_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th class="sorting_asc" tabindex="0"
                                                            aria-controls="myProjectTable" rowspan="1" colspan="1"
                                                            style="width: 39.2px;" aria-sort="ascending"
                                                            aria-label="NO: activate to sort column descending">Num Licence</th>
                                                        <th class="sorting" tabindex="0" aria-controls="myProjectTable"
                                                            rowspan="1" colspan="1" style="width: 114.2px;"
                                                            aria-label="Project: activate to sort column ascending">
                                                           Nom</th>
                                                        <th class="sorting" tabindex="0" aria-controls="myProjectTable"
                                                            rowspan="1" colspan="1" style="width: 81.2px;"
                                                            aria-label="Date Start: activate to sort column ascending">
                                                            Prénom</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>




                                                    <tr role="row" class="odd"  *ngFor="let p of listearbitre |recherche:search_namee">
                                                        <td tabindex="0" class="sorting_1"><a 
                                                                >{{p?.numlicence}}</a></td>
                                                        <td><a></a>{{p?.nom}}</td>
                                                    
                                                        <td class=" dt-body-right">{{p?.prenom}}</td>
                                                        
                                                    </tr>
                                                 
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-5">
                                            <div class="dataTables_info" id="myProjectTable_info" role="status"
                                                aria-live="polite">Showing 1 to 4 of 4 entries</div>
                                        </div>
                                        <div class="col-sm-12 col-md-7">
                                            <div class="dataTables_paginate paging_simple_numbers"
                                                id="myProjectTable_paginate">
                                                <ul class="pagination">
                                                    <li class="paginate_button page-item previous disabled"
                                                        id="myProjectTable_previous"><a href="#"
                                                            aria-controls="myProjectTable" data-dt-idx="0" tabindex="0"
                                                            class="page-link">Previous</a></li>
                                                    <li class="paginate_button page-item active"><a href="#"
                                                            aria-controls="myProjectTable" data-dt-idx="1" tabindex="0"
                                                            class="page-link">1</a></li>
                                                    <li class="paginate_button page-item next disabled"
                                                        id="myProjectTable_next"><a href="#"
                                                            aria-controls="myProjectTable" data-dt-idx="2" tabindex="0"
                                                            class="page-link">Next</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Row End -->
            </div>


        </div><!-- Row End -->
    </div>
</div>
<div class="col-md-4 text-right">
    <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
</div>
